<!--The content below is only a placeholder and can be replaced.-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal">WELCOME {{adminDetail.name}}</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/dashboard">Dashboard</a>
    <a class="p-2 text-dark" *ngIf="enableLogout" href="/users">UserList</a>
  </nav>
  <a class="btn btn-info" *ngIf="!enableLogout" (click)="login()">Login</a>
  <a class="btn btn-info" *ngIf="!enableLogout" (click)="signUp()">Sign up</a>
  <a class="btn btn-info" *ngIf="enableLogout" (click)="logout()">Logout</a>
</div>
<div *ngIf="popup" class="popup">
  <div class="popup_inner">
      <button type="button" class="close" (click)="closePopup()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    <form (ngSubmit)="addAdmin(adminDetail)">
      <h1>{{title}}</h1>
    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="adminDetail.name"  />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="adminDetail.email"  />
    </div>
    <div class="form-group"  *ngIf="title !== 'Login'">
        <label>Contact No:</label>
        <input type="text" class="form-control" name="contact_number" [(ngModel)]="adminDetail.contact_number"  />
    </div>
    <div class="form-group"  *ngIf="title !== 'Login'">
        <label>Position:</label>
        <input type="text" class="form-control" name="position" [(ngModel)]="adminDetail.position"  />
    </div>
    <button class="btn btn-primary" type="submit">submit</button>
    <button class="btn btn-primary" type="reset">Clear</button>
  </form>
  </div>
</div>
<router-outlet></router-outlet>


